extends layout

block content

    div.container-fluid.row.msg

        table.table.table-striped.table-hover.table-bordered
                    thread
                      tr

                        th Mobile number
                        th.message-col Message
                        th Date
                    tbody
                      each user in messages
                        tr

                          td #{user.msg_from}
                          td.message-col #{user.msg_body}
                          td #{user.msg_date}



    div.container-fluid
        div.container-fluid.row.form-group
            form(action='/community/send',method='post')
                label(for='messageInput') Enter promotional message
                textarea.form-control(rows='3', id='messageInput', type ='text', name ='messageInput')
                button(type='submit').btn.btn-primary.send-button   Send