extends layout

block content

    // Begin Web-Stat code v 6.3
    span#wts1802610  
    script.
      var wts=document.createElement('script');wts.type='text/javascript';
      wts.async=true;wts.src='https://wts.one/4/1802610/log6_2.js';
      document.getElementById('wts1802610').appendChild(wts);
    noscript
      a(href='https://www.web-stat.com')
        img(src='//wts.one/6/4/1802610.gif', style='border:0px;', alt='Web-Stat web tracking')
    // End Web-Stat code v 6.3
