extends layout

block content

    style.
        video, #cssfilters-video, #screenshot-img {
            width: 400px;
            height: 300px;
        }

        video, #cssfilters-stream {
            background: rgba(255, 255, 255, 0.5);
            border: 1px solid #ccc;
        }


    .row
        #screenshot(style='text-align:center;')
            video.videostream(autoplay='')
            img#screenshot-img
            p
                button.capture-button Capture video
            p
                button#screenshot-button(download='YourFileName.jpg') Take screenshot
        //

        script.
            function handleError(error) {
                console.error('navigator.getUserMedia error: ', error);
            }
            const constraints = {video: true};
            (function () {
                const captureVideoButton =
                    document.querySelector('#screenshot .capture-button');
                const screenshotButton = document.querySelector('#screenshot-button');
                const img = document.querySelector('#screenshot img');
                const video = document.querySelector('#screenshot video');
                const canvas = document.createElement('canvas');
                captureVideoButton.onclick = function () {
                    navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);
                };
                screenshotButton.onclick = video.onclick = function () {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    canvas.getContext('2d').drawImage(video, 0, 0);
                    // Other browsers will fall back to image/png
                    img.src = canvas.toDataURL('image/jpeg');
                    var contents = img.src.split(',')[1];
                   // alert(contents);
                    var xhr = new XMLHttpRequest();

                    xhr.open("POST", "http://localhost:3000/identify/qr", true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({
                        value: contents
                    }));

                    //localStorage.setItem("qr", img);
                    //window.location.href = 'identify/qr?im='+contents;
                    //alert("save image");
                };

                function handleSuccess(stream) {
                    screenshotButton.disabled = false;
                    video.srcObject = stream;
                }
            })();

    .row

        form(action='identify/fileupload', method='post', enctype='multipart/form-data')
            input(type='file', name='filetoupload')
            br
            input(type='submit')

