extends layout

block content

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 200px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }


        a {
            text-decoration: none;
            font-size: 18px;
            color: black;
        }

    div.subscribires.container-fluid

            each user in messages
                .card.col-sm-3(style="float:left;margin:10px")
                    img(src='images/sub_cli1.jpg', alt='John', style='width:100%')
                    p.title #{user.subscription_by}
                    p Harvard University

